.container{
margin: 50px 0;
width: auto;
}

.card{
   margin: 0 2%!important;
   margin-bottom: 4%!important;
}

.infected{ 
   border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}
.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.5);
}

@media (max-width: 770px){
    .card{
        margin-bottom:  2% 0!important;
    }
    
}